<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jetictors.futures.java_dagger2">

    <application
        android:name=".app.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".act.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <activity android:name=".act.BasisActivity"
            android:screenOrientation="portrait"
            android:label="@string/btn_tx_basis"/>

        <activity android:name=".act.BasisOtherActivity"
            android:screenOrientation="portrait"
            android:label="@string/btn_tx_basis_other"/>

        <activity android:name=".act.ConstructorActivity"
            android:screenOrientation="portrait"
            android:label="@string/btn_tx_constructor"/>

        <activity android:name=".act.QualifierActivity"
            android:screenOrientation="portrait"
            android:label="@string/btn_tx_qualifier"/>

        <activity android:name=".act.NamedActivity"
            android:screenOrientation="portrait"
            android:label="@string/btn_tx_named"/>

        <activity android:name=".act.SubComponentActivity"
            android:screenOrientation="portrait"
            android:label="@string/btn_tx_sub"/>

        <activity android:name=".act.SingletonActivity"
            android:screenOrientation="portrait"
            android:label="@string/btn_tx_singleton"/>

        <activity android:name=".act.scope.ScopeActivity"
            android:screenOrientation="portrait"
            android:label="@string/btn_tx_scope"/>

        <activity android:name=".act.scope.ScopeFirstActivity"
            android:screenOrientation="portrait"
            android:label="ScopeFirstActivity"/>

        <activity android:name=".act.scope.ScopeSecondActivity"
            android:screenOrientation="portrait"
            android:label="ScopeSecondActivity"/>

        <activity android:name=".act.scope.ScopeOtherActivity"
            android:screenOrientation="portrait"
            android:label="ScopeOtherActivity"/>

        <activity android:name=".act.dependencies.DependenciesActivity"
            android:screenOrientation="portrait"
            android:label="@string/btn_tx_dependencies"/>

        <activity android:name=".act.dependencies.DependenciesFirstActivity"
            android:screenOrientation="portrait"
            android:label="DependenciesFirstActivity"/>

        <activity android:name=".act.dependencies.DependenciesSecondActivity"
            android:screenOrientation="portrait"
            android:label="DependenciesSecondActivity"/>

        <activity android:name=".act.dependencies.DependenciesOtherActivity"
            android:screenOrientation="portrait"
            android:label="DependenciesOtherActivity"/>

    </application>

</manifest>